.navLinks {
    color: #3498db; /* Set the text color to a stylish blue */
    text-decoration: none; /* Remove the default underline */
    transition: color 0.3s ease-in-out; /* Add a smooth color transition on hover */
    padding: 10px;
    &:hover {
      color: #2c3e50; /* Change the text color on hover */
    }
  
    &.active {
      font-weight: bold; /* Style for the active link, e.g., bold font */
    }
  }